Pillow
pip
pycparser
pyinstaller
pyinstaller-hooks-contrib
pyowm
pyparsing
pypyodbc
PySocks
pyTelegramBotAPI
pyttsx3
requests
setuptools
six
SpeechRecognition
urllib3
vk
vk-api
wheel
whichcraft
zope.event
zope.interface